#main-container {
    height: 100%;
    overflow: hidden;
}

#theme-provider {
    height: 100%;
}

#command-bar {
    flex: 0 1 auto;
}

#editor {
    --command-bar-height: 44px;
    
    flex: 1 1 auto;
    height: calc(100% - var(--command-bar-height));
}